# Unity関連の無視するディレクトリとファイル
/simulation/[Ll]ibrary/
/simulation/[Tt]emp/
/simulation/[Oo]bj/
/simulation/[Bb]uild/
/simulation/[Bb]uilds/
/simulation/[Ll]ogs/
/simulation/[Uu]ser[Ss]ettings/
/simulation/[Mm]emoryCaptures/
/simulation/[Rr]ecordings/

# Visual Studio関連の無視するファイル
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# 自動生成されるJetBrains Riderプラグイン
/simulation/[Aa]ssets/Plugins/Editor/JetBrains*

# ビルド成果物
*.apk
*.aab
*.unitypackage
*.app

# クラッシュレポート時に生成されるファイル
sysinfo.txt

# Packed Addressables
/simulation/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# 一時的な自動生成Androidアセット
/simulation/[Aa]ssets/[Ss]treamingAssets/aa.meta
/simulation/[Aa]ssets/[Ss]treamingAssets/aa/*
